body{
    background-color:black;
    list-style: none;
}

li{
    justify-content: center;
}

ul{
    margin:0px;
}

.numeros{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5,100px);
    justify-items: center;
    gap:5px;
}

button{
    border-style: solid;
    border-radius: 100%;
    width: 90px;
    height: 90px  ; 
    font-size: 50px;
}


#zero{
    border-style:solid;
    border-radius: 50px;
    width:200px;
    text-align: left;
    padding-left:40px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
}

#virgula{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row: 5;
}

#igual{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row: 5;
}

.number{
    background-color: #343434;
    color:white;
}

.number:hover{
    background-color: #a5a5a5;
    transition: background-color 0.5s ease-in-out;
}

.sinais{
    background-color: #ff9501;
    color:white;
}


.clear{
    background-color: #a5a5a5;
}

.clear:hover{
    background-color: #e0e0e0;
    transition: background-color 0.5s ease-in-out;
}

.resultado{
    display: grid;
    grid-template-columns: repeat(4, 105px);
    color:white;
    justify-content: center;

}

#visor{
    justify-items: flex-end;
    max-width: 100%;
    font-size: 80px;
    grid-column: 4;
    direction: rtl;
    min-height:100px;
    padding:0px;
    margin:0px;
}
